In [ ]:
!pip install future

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (0.16.0)

In [ ]:
!pip install dedupe==1.10

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dedupe==1.10
  Downloading dedupe-1.10.0-cp38-cp38-manylinux1_x86_64.whl (83 kB)
     |████████████████████████████████| 83 kB 1.9 MB/s
Collecting BTrees>=4.1.4
  Downloading BTrees-4.11.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.9 MB)
     |████████████████████████████████| 3.9 MB 65.3 MB/s
Collecting simplecosine>=1.2
  Downloading simplecosine-1.2-py2.py3-none-any.whl (3.2 kB)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.8/dist-packages (from dedupe==1.10) (1.21.6)
Collecting Levenshtein-search
  Downloading Levenshtein_search-1.4.5-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (71 kB)
     |████████████████████████████████| 71 kB 9.5 MB/s
Collecting haversine>=0.4.1
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Collecting rlr>=2.4.3
  Downloading rlr-2.4.6-py2.py3-none-any.whl (6.0 kB)
Collecting affinegap>=1.3
  Downloading affinegap-1.12-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (56 kB)
     |████████████████████████████████| 56 kB 4.3 MB/s
Collecting dedupe-hcluster
  Downloading dedupe_hcluster-0.3.9-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (640 kB)
     |████████████████████████████████| 640 kB 73.7 MB/s
Collecting doublemetaphone
  Downloading DoubleMetaphone-1.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (152 kB)
     |████████████████████████████████| 152 kB 69.2 MB/s
Collecting categorical-distance>=1.9
  Downloading categorical_distance-1.9-py3-none-any.whl (3.3 kB)
Collecting highered>=0.2.0
  Downloading highered-0.2.1-py2.py3-none-any.whl (3.3 kB)
Collecting zope.index
  Downloading zope.index-5.2.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (105 kB)
     |████████████████████████████████| 105 kB 66.5 MB/s
Collecting dedupe-variable-datetime
  Downloading dedupe_variable_datetime-0.1.5-py3-none-any.whl (4.8 kB)
Collecting fastcluster
  Downloading fastcluster-1.2.6-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
     |████████████████████████████████| 194 kB 64.3 MB/s
Collecting persistent>=4.1.0
  Downloading persistent-4.9.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (260 kB)
     |████████████████████████████████| 260 kB 56.7 MB/s
Collecting zope.interface>=5.0.0
  Downloading zope.interface-5.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (261 kB)
     |████████████████████████████████| 261 kB 69.7 MB/s
Collecting pyhacrf-datamade>=0.2.0
  Downloading pyhacrf_datamade-0.2.6-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 69.1 MB/s
Requirement already satisfied: cffi in /usr/local/lib/python3.8/dist-packages (from persistent>=4.1.0->BTrees>=4.1.4->dedupe==1.10) (1.15.1)
Collecting PyLBFGS>=0.1.3
  Downloading PyLBFGS-0.2.0.14-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (284 kB)
     |████████████████████████████████| 284 kB 81.6 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface>=5.0.0->BTrees>=4.1.4->dedupe==1.10) (57.4.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi->persistent>=4.1.0->BTrees>=4.1.4->dedupe==1.10) (2.21)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from dedupe-variable-datetime->dedupe==1.10) (0.16.0)
Collecting datetime-distance
  Downloading datetime_distance-0.1.3-py3-none-any.whl (4.1 kB)
Requirement already satisfied: python-dateutil>=2.6.0 in /usr/local/lib/python3.8/dist-packages (from datetime-distance->dedupe-variable-datetime->dedupe==1.10) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.6.0->datetime-distance->dedupe-variable-datetime->dedupe==1.10) (1.15.0)
Installing collected packages: zope.interface, PyLBFGS, persistent, pyhacrf-datamade, datetime-distance, BTrees, zope.index, simplecosine, rlr, Levenshtein-search, highered, haversine, fastcluster, doublemetaphone, dedupe-variable-datetime, dedupe-hcluster, categorical-distance, affinegap, dedupe
Successfully installed BTrees-4.11.3 Levenshtein-search-1.4.5 PyLBFGS-0.2.0.14 affinegap-1.12 categorical-distance-1.9 datetime-distance-0.1.3 dedupe-1.10.0 dedupe-hcluster-0.3.9 dedupe-variable-datetime-0.1.5 doublemetaphone-1.1 fastcluster-1.2.6 haversine-2.7.0 highered-0.2.1 persistent-4.9.3 pyhacrf-datamade-0.2.6 rlr-2.4.6 simplecosine-1.2 zope.index-5.2.1 zope.interface-5.5.2

In [ ]:
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/data_for_ER/new_data.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
len(data)

968569

In [ ]:
data.sample(10)

,index,NAMELAST,NAMEFIRST,NAMEMID,UIN,BDGNBR,ACCESS_TYPE,TOA,POA,TOD,...,TERMINAL_SUFFIX,visitee_namelast,visitee_namefirst,MEETING_LOC,MEETING_ROOM,CALLER_NAME_LAST,CALLER_NAME_FIRST,CALLER_ROOM,Description,RELEASE_DATE
86338,86391,VRECENAK,MELANIE,I,U03087,NaN,VA,NaN,NaN,NaN,...,DC,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,GROUP TOURS,8/27/2010
387069,387214,HANDLEY,DEBRA,NaN,U71048,NaN,VA,NaN,NaN,NaN,...,RC,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,TOURS,4/30/2010
327514,327646,CLARK,RAY,NaN,U73296,78690.0,VA,2/19/2010 9:42,D1S01,2/19/2010 10:41,...,KS,MCPHILLIPS,RICHARD,OEOB,285,MCPHILLIPS,RICHARD,NaN,NaN,5/28/2010
715600,715921,BELL,DEVYN,G,U12258,NaN,VA,NaN,NaN,NaN,...,GB,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,GROUP TOURS /,NaN
788213,788534,NASH,ELIAS,B,U21787,NaN,VA,NaN,NaN,NaN,...,RC,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,GROUP TOURS /,10/29/2010
946941,947271,HUINER,HARVY,NaN,U41382,NaN,VA,NaN,NaN,NaN,...,B3,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,TOURS,12/31/2010
898797,899126,STEWART,ZAHRA,NaN,U30392,NaN,VA,NaN,NaN,NaN,...,B3,OFFICE,VISITORS,WH,EW,OFFICE,VISITORS,NaN,TENNIS SERIES,11/26/2010
47305,47313,RUDERFER,STUART,NaN,U18376,74927.0,VA,6/22/2010 7:56,D1S01,6/22/2010 8:50,...,SL,RUSSELL,CATHERINE,OEOB,200,CAMPBELL,MARGARET,NaN,NaN,9/24/2010
855633,855960,GRAHAM,KENDRA,NaN,U34823,NaN,VA,NaN,NaN,NaN,...,GB,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,GROUP TOUR,11/26/2010
635042,635316,MORGENSAI,MADISON,NaN,U45767,NaN,VA,NaN,NaN,NaN,...,P6,OFFICE,VISITORS,WH,RESIDENCE,OFFICE,VISITORS,NaN,ADD ON,1/29/2010

In [ ]:
import tempfile
import argparse
import csv
import os
import dedupe

In [ ]:
FIELDS =  [{'field': 'NAMEFIRST',
               'type': 'String','has missing': True},
              {'field': 'NAMELAST',
               'type': 'String','has missing': True},
              {'field': 'UIN',
               'type': 'String','has missing': True},
              {'field': 'MEETING_LOC',
               'type': 'String','has missing': True}
              ]

In [ ]:
%%time

# Create a new deduper object and pass our data model to it.
deduper = dedupe.Dedupe(FIELDS)

CPU times: user 479 µs, sys: 79 µs, total: 558 µs
Wall time: 565 µs

In [ ]:
%%time

import re

def preProcess(column):
  """
  Do a little bit of data cleaning with the help of Unidecode and Regex.
  Things like casing, extra spaces, quotes and new lines can be ignored.
  """
  column = re.sub('  +', ' ', column)
  column = re.sub('\n', ' ', column)
  column = column.strip().strip('"').strip("'").lower().strip()
  # If data is missing, indicate that by setting the value to `None`
  if not column:
    column = None
  return column

def readData(filename):
  """
  Read in our data from a CSV file and create a dictionary of records,
  where the key is a unique record ID and each value is dict
  """

  data_d = {}
  with open(filename) as f:
    reader = csv.DictReader(f)
    for row in reader:
      clean_row = [(k, preProcess(v)) for (k, v) in row.items()]
      row_id = int(row['index'])
      data_d[row_id] = dict(clean_row)

  return data_d

CPU times: user 7 µs, sys: 0 ns, total: 7 µs
Wall time: 11.9 µs

In [ ]:
%%time
data_d = readData("/content/drive/MyDrive/data_for_ER/new_data.csv")

CPU times: user 51.7 s, sys: 1.33 s, total: 53 s
Wall time: 53.1 s

In [ ]:
%%time
deduper.prepare_training(data_d)

CPU times: user 8min 45s, sys: 3.15 s, total: 8min 48s
Wall time: 8min 48s

In [ ]:
dedupe.consoleLabel(deduper)

NAMEFIRST : matthew
NAMELAST : leger
UIN : u61731
MEETING_LOC : wh

NAMEFIRST : matthew
NAMELAST : leger
UIN : u17731
MEETING_LOC : wh

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished

1

(y)es / (n)o / (u)nsure / (f)inished

y

NAMEFIRST : judith
NAMELAST : matheny
UIN : u34185
MEETING_LOC : wh

NAMEFIRST : None
NAMELAST : katherine
UIN : None
MEETING_LOC : vpr

1/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : jeanne
NAMELAST : lambrew
UIN : u18457
MEETING_LOC : oeob

NAMEFIRST : jeanne
NAMELAST : lambrew
UIN : u18744
MEETING_LOC : wh

1/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : jasmine
NAMELAST : jones
UIN : u06670
MEETING_LOC : wh

NAMEFIRST : jasmine
NAMELAST : jones
UIN : u40642
MEETING_LOC : wh

1/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : michael
NAMELAST : lewis
UIN : u30893
MEETING_LOC : wh

NAMEFIRST : michelle
NAMELAST : lewis
UIN : u30893
MEETING_LOC : wh

2/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : elizabeth
NAMELAST : daunno
UIN : u23225
MEETING_LOC : wh

NAMEFIRST : lisa
NAMELAST : daunno
UIN : u23225
MEETING_LOC : wh

2/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : michael
NAMELAST : coverstone
UIN : u60372
MEETING_LOC : wh

NAMEFIRST : michael
NAMELAST : ho
UIN : u12848
MEETING_LOC : wh

2/10 positive, 4/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : susan
NAMELAST : scherr
UIN : u05174
MEETING_LOC : wh

NAMEFIRST : susan
NAMELAST : sahm
UIN : open11
MEETING_LOC : wh

2/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : thomas
NAMELAST : freebairn
UIN : u52634
MEETING_LOC : neob

NAMEFIRST : thomas
NAMELAST : freebairn
UIN : u53988
MEETING_LOC : oeob

2/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : emily
NAMELAST : arciniega
UIN : open07
MEETING_LOC : wh

NAMEFIRST : emily
NAMELAST : arciniega
UIN : u62451
MEETING_LOC : wh

3/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : michael
NAMELAST : holland
UIN : u03020
MEETING_LOC : neob

NAMEFIRST : michael
NAMELAST : holland
UIN : u55169
MEETING_LOC : oeob

4/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : jenseena
NAMELAST : macgregor
UIN : u45778
MEETING_LOC : wh

NAMEFIRST : jesse
NAMELAST : macgregor
UIN : u20850
MEETING_LOC : wh

5/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : mark
NAMELAST : taylor
UIN : sa1124
MEETING_LOC : wh

NAMEFIRST : marilyn
NAMELAST : taylor
UIN : u46365
MEETING_LOC : wh

5/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : marita
NAMELAST : young
UIN : u03702
MEETING_LOC : wh

NAMEFIRST : mary
NAMELAST : young
UIN : u18777
MEETING_LOC : wh

5/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : jesse
NAMELAST : carpenter
UIN : u01015
MEETING_LOC : wh

NAMEFIRST : jesse
NAMELAST : earl
UIN : u00017
MEETING_LOC : wh

5/10 positive, 9/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : shirley
NAMELAST : andersonfrashier
UIN : u40740
MEETING_LOC : wh

NAMEFIRST : shirley
NAMELAST : allen
UIN : u40961
MEETING_LOC : wh

5/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

NAMEFIRST : lorena
NAMELAST : drago
UIN : u07979
MEETING_LOC : wh

NAMEFIRST : lorena
NAMELAST : drago
UIN : starmx
MEETING_LOC : wh

5/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : laura
NAMELAST : bernal
UIN : u04843
MEETING_LOC : wh

NAMEFIRST : laura
NAMELAST : bernal
UIN : u78420
MEETING_LOC : wh

6/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : lee
NAMELAST : sachs
UIN : u00174
MEETING_LOC : oeob

NAMEFIRST : lee
NAMELAST : sachs
UIN : u82336
MEETING_LOC : oeob

7/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : elinda
NAMELAST : gaa
UIN : u94550
MEETING_LOC : wh

NAMEFIRST : erlinda
NAMELAST : gaa
UIN : u47878
MEETING_LOC : wh

8/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : judith
NAMELAST : payne
UIN : u07630
MEETING_LOC : wh

NAMEFIRST : judith
NAMELAST : payne
UIN : u98806
MEETING_LOC : wh

9/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

NAMEFIRST : tanisha
NAMELAST : dozier
UIN : u90977
MEETING_LOC : wh

NAMEFIRST : ladis
NAMELAST : dozier
UIN : u56433
MEETING_LOC : wh

10/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

f

Finished labeling

In [ ]:
%%time

deduper.train()

CPU times: user 2.54 s, sys: 563 ms, total: 3.1 s
Wall time: 2.53 s